body {
    color: #d9d9d9;
    background-color: #212121;
    font-family: LatoLatinWeb, Lato, Arial, sans-serif;

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: 0 5px 0 5px;
}

a {
    color: #3282d1;
    text-decoration: none;
}

a:hover {
    color: #9CD7F7;
}

section {
    background-color: #061f2f;
    box-shadow: 0 1px 3px 0 #000;
    margin: 0 0 10px 0;
    padding: 1px 5px 1px 5px;
}

.block-image {
    height: 100px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    height: 1.5em;
    vertical-align: bottom;
    display: inline-block;
}
